<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style> 
  <title>Login Page</title>
  <link rel = "stylesheet" href = "/static/styles/style.css">
  <script src = "/static/valid.js"></script>



  <script>

    console.log("Vaidations here");
    if('{{flag}}'=="False")
      alert("Incorrect user ID or password");



  </script>
</head>
<body>
  <div class = "split-screen">
    <div class ="left">
      <section class = "copy">

      </section>
    </div>
    <div class="right">
      <form method="POST" action="/LoginVal">
        <section class="copy">
          <h1>Welcome Back</h1>
        </section>
        <div class="right-flex">
          <section class ="tilte">
            <h3>Login to your account</h3>
          </section>
          <div class = "input-container-name">
            <input type="email" name ="username" placeholder ="Email Id" id ="username" required>
          </div>
          <div class = "input-container-password">
            <input type="password" placeholder="password" name = "pass">
          </div>
          <br>
          <div class="Loginbtn">
            <button class = "signup-btn" type = "submit" value ="submit">Login</button>
          </div>
          <!-- <div class="optional"><a href ="#">Forgot Password?</a></div> -->
         <br> 
          <div class = "new">
            New User? <a href= {{ url_for('SignUp') }}>Create Account</a>

          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="footer">
    <p>TATA CONSULTANCY SERVICES @2021</p>
  </div> -->
  
</body>
</html>