<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Document</title>
</head>
<body>
<div class="first_container">
 <div class="first_row_container">
   <div class="mobile_container">
    
      </div>
      <div class = "Loginbtn">
        <div class = "Login">
          <a href={{ url_for('Login') }}><button class = "signup-btn">Login</button></a>&nbsp;
       </div>
    
     <div class = "Register">
      <a href={{ url_for('SignUp') }}> <button class = "signup-btn">Register</button></a>&nbsp;
       
     </div>
     </div>
</div>

<div class="second_row_container">
<div class="second_row_first_column">
<h1 style="color: white;">Train Yourself To</h1>
<h1 style="color: rgb(45,133,102);">Avoid</h1>
<h1 style="color: white"> Distractions</h1>
<h4 style="color: rgb(45,133,102);">"Time is the wisest counselor of all"</h4   >
</div>
<div class="second_row_second_column">

</div>

</div>
</div>

</body>
</html>